.hero-generator {
	h1,
	h2 {
		font-family: 'Cormorant Upright', serif;
	}

	h3,
	span,
	a {
		font-family: 'Cormorant Upright', serif;
	}

	li {
		list-style: none;
		position: relative;
		margin-right: 0.5rem;
	}
}

ul.hero-party{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;	
}

.hero-sheet {
	background: #6e85a7;
	width: 200px;
	padding-left: 1rem;


	h2 {
		font-size: 2rem;
		padding-left: 0;
		margin-top: 1rem;
		margin-bottom: 0;
		color: #a7b1d2;
	}

	h3 {
		margin-top: 0;
		font-size: 1.5rem;
		color: #e4e4f3;

		span {
			color: #FFF;
		}
	}

	.hero-data{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 10px;
	}

	.stats {
		float: left;

		.stat {
			padding: 0 0 10px 0px;
			width: 100%;
			display: block;
			float: left;
			background-color: #6e85a7;
			color: #b2bed0;
			font-size: 1.25rem;
			font-weight: bold;
			font-style: italic;
			margin: 5px 0;

			.stat-name {
				font-weight: bold;
				color: #2e4971;
			}
		}
	}




	.is-alive {
		display: block;
		float: left;
		width: 100%;
		height: auto;

		input {
			display: none;
		}
			
		.retire-check-wrap{
			width: 30px;
			height: 30px;
			display: block;
			text-align: center;
			right: 0.5rem;
			position: absolute;
			top: 1.5rem;
			cursor: pointer;
			background: #486692;

			span{
				color: #97c1ff;
				font-size: 2.5rem;
				font-weight: bold;
				line-height: 0.5;
			}
			input{

				& ~ .active{
					display: none;
				}

				&:checked{
					& ~ .inactive{
						display: none;
					}
					& ~ .active{
						display: block;
					}
				}
			}

			
		}
	}
}

.control-wrap {
	width: 300px;
	background-color: #6e85a7;
	color: #FFF;
	height: auto;
	margin: 0 10px 10px 0;
	position: relative;
	display: block;
	float: left;
	height: 80px;

	h2 {
		font-size: 2rem;
		margin: 0;
		color: #a7b1d2;
		padding-bottom: 10px;
		padding-left: 10px;
	}

	a {
		font-size: 1.5rem;
		text-decoration: none;
		text-align: center;
		width: 100%;
		display: block;
		position: relative;
		font-weight: bold;
		color: #a7b1d2;
		top: 25%;
	}

	input {
		display: block;
		margin-bottom: 20px;
		position: relative;
		width: 275px;
		margin-left: 10px;
	}
}