
nav.navigation{
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 1px solid #EBEBEB;

	div.nav-item{
		width: 100px;
		font-size: 1.5rem;

		&:hover{
			transition: font-size, 0.2s, ease-in;
			font-size: 1.5rem;
			cursor: pointer;
		}
	}	
}