* {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
	padding-left: 20px;
}

.col-12 {
	width: 300px;
	border: 1px solid #808080;
	background-color: #ebebeb;
	height: auto;
	margin: 20px;
	position: relative;
	display: block;

	input {
		display: block;
		margin: 0 auto;
		position: relative;
		margin-bottom: 20px;
	}
}